rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /daos/{dao} {
      allow read: if request.auth.uid in resource.data.memberIDs
    }
  }
}